.card {
    &__row {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-left: 45px;
        margin-bottom: 40px;
    }

    &__col {
        width: 263px;
        height: 488px;
        background: #FFF;
        box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.11);
        padding: 20px;
    }

    &__title {
        color: var(--text-color, #414141);
        font-size: 16px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-bottom: 15px;
    }

    &__text {
        color: var(--text-color, #414141);
        font-size: 11px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 9px;
    }

    &__value {
        color: var(--text-color, #414141);
        font-size: 16px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 15px;
    }

    &__btn {
        color: #FFF;
        font-size: 13px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 223px;
        height: 40px;
        background: var(--main-color, #245462);
        border: none;
        margin-top: 17px;
    }

    &__text2 {
        color: #CCC;
        font-size: 12px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration-line: strikethrough;
        margin-bottom: 15px;
    }

    &__footer {
        display: flex;
        gap: 6px;
        align-items: center;
    }

    &__img {
        margin-top: 42px;
        margin-bottom: 50px;

    }

    &__heart {
        margin-left: 200px;
    }

    &__acsiya {
        position: absolute;
        top: 760px;
        right: 670px;
        display: flex;
        gap: 5px;
        align-items: center;

        h5 {
            color: #000;
            font-family: Roboto;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

}