.map {
    &__text {
        color: var(--text-color, #414141);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 30px;
    }
    img{
        margin: 0 auto;
        width: 1230px;
        margin-bottom: 70px;
    }
}