.buy {
    margin-top: 200px;
    margin-bottom: 95px;

    &__title {
        color: #414141;
        font-family: Roboto;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.36px;
        margin-bottom: 90px;
        text-align: center;
    }

    &__row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 60px
        ;
    }
    &__col{
        display: flex;
        align-items: center;
        padding: 40px 0px;
    }
    &__right{
        margin-left: 30px;
    }

    &__title1 {
        color: var(--text-color, #414141);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.27px;
        padding-bottom: 10px;
    }

    &__text {
        color: #686868;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140.188%;
        max-width: 440px;
    }
}